<a href="https://colab.research.google.com/github/nurfnick/COVID_Travel/blob/master/Combining_Data_Files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pa
import numpy as np

In [35]:
COVID = pa.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
travel = pa.read_csv('https://raw.githubusercontent.com/nurfnick/COVID_Travel/master/google_mobility_US_only.csv')
population = pa.read_csv('https://raw.githubusercontent.com/nurfnick/COVID_Travel/master/census_population.csv')

UnicodeDecodeError: ignored

In [6]:
COVID

           UID iso2 iso3  code3  ...  6/20/20 6/21/20 6/22/20 6/23/20
0           16   AS  ASM     16  ...        0       0       0       0
1          316   GU  GUM    316  ...      222     222     222     225
2          580   MP  MNP    580  ...       30      30      30      30
3          630   PR  PRI    630  ...     6463    6525    6564    6685
4          850   VI  VIR    850  ...       73      76      76      76
...        ...  ...  ...    ...  ...      ...     ...     ...     ...
3256  84070016   US  USA    840  ...       96     102     110     114
3257  84070017   US  USA    840  ...       31      31      31      31
3258  84070018   US  USA    840  ...     1031    1056    1104    1151
3259  84070019   US  USA    840  ...       38      38      39      39
3260  84070020   US  USA    840  ...      641     666     676     708

[3261 rows x 165 columns]

In [7]:
travel

       country_region_code  ... residential_percent_change_from_baseline
0                       US  ...                                     -1.0
1                       US  ...                                     -1.0
2                       US  ...                                      5.0
3                       US  ...                                      1.0
4                       US  ...                                      0.0
...                    ...  ...                                      ...
322912                  US  ...                                      NaN
322913                  US  ...                                      NaN
322914                  US  ...                                      NaN
322915                  US  ...                                      NaN
322916                  US  ...                                      NaN

[322917 rows x 13 columns]

In [34]:
population

                  Geographic Area  ...     2019.1
0                   United States  ...  328239523
1        .Autauga County, Alabama  ...      55869
2        .Baldwin County, Alabama  ...     223234
3        .Barbour County, Alabama  ...      24686
4           .Bibb County, Alabama  ...      22394
...                           ...  ...        ...
3138  .Sweetwater County, Wyoming  ...      42343
3139       .Teton County, Wyoming  ...      23464
3140       .Uinta County, Wyoming  ...      20226
3141    .Washakie County, Wyoming  ...       7805
3142      .Weston County, Wyoming  ...       6927

[3143 rows x 5 columns]

In [15]:
fips = [x for x in np.unique(travel['census_fips_code']) if ~np.isnan(x)] #get the unique fips and get rid of nans

In [17]:
len(fips)

2832

In [18]:
fips2 = [x for x in np.unique(COVID['FIPS']) if ~np.isnan(x)]

In [19]:
len(fips2) #wtf...

3251

In [30]:
COVID['Admin2'][10:]

10             Bullock
11              Butler
12             Calhoun
13            Chambers
14            Cherokee
             ...
3256      Central Utah
3257    Southeast Utah
3258    Southwest Utah
3259         TriCounty
3260      Weber-Morgan
Name: Admin2, Length: 3251, dtype: object

In [ ]:
for fip in fips2:
  COVIDfip = COVID[COVID["FIPS"]==fip]

In [28]:
days = COVID.columns[11:]

In [ ]:
for fip in fips2:
  COVIDfip = COVID[COVID["FIPS"]==fip]
  travelfip = travel[travel['census_fips_code']==fip]
  countydata = []
  countydata.append()