<a href="https://colab.research.google.com/github/nurfnick/COVID_Travel/blob/master/Combining_Data_Files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pa
import numpy as np

In [42]:
COVID = pa.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
travel = pa.read_csv('https://raw.githubusercontent.com/nurfnick/COVID_Travel/master/google_mobility_US_only.csv')
population = pa.read_csv('https://raw.githubusercontent.com/nurfnick/COVID_Travel/master/us_census_with_fips.csv',dtype={"STATE": str,"COUNTY": str})

In [43]:
COVID

           UID iso2 iso3  code3  ...  6/21/20 6/22/20 6/23/20 6/24/20
0           16   AS  ASM     16  ...        0       0       0       0
1          316   GU  GUM    316  ...      222     222     225     226
2          580   MP  MNP    580  ...       30      30      30      30
3          630   PR  PRI    630  ...     6525    6564    6685    6820
4          850   VI  VIR    850  ...       76      76      76      76
...        ...  ...  ...    ...  ...      ...     ...     ...     ...
3256  84070016   US  USA    840  ...      102     110     114     117
3257  84070017   US  USA    840  ...       31      31      31      32
3258  84070018   US  USA    840  ...     1056    1104    1151    1200
3259  84070019   US  USA    840  ...       38      39      39      40
3260  84070020   US  USA    840  ...      666     676     708     734

[3261 rows x 166 columns]

In [44]:
travel

       country_region_code  ... residential_percent_change_from_baseline
0                       US  ...                                     -1.0
1                       US  ...                                     -1.0
2                       US  ...                                      5.0
3                       US  ...                                      1.0
4                       US  ...                                      0.0
...                    ...  ...                                      ...
322912                  US  ...                                      NaN
322913                  US  ...                                      NaN
322914                  US  ...                                      NaN
322915                  US  ...                                      NaN
322916                  US  ...                                      NaN

[322917 rows x 13 columns]

In [45]:
population

      SUMLEV  REGION  ...  CENSUS2010POP POPESTIMATE2019
0         40       3  ...        4779736         4903185
1         50       3  ...          54571           55869
2         50       3  ...         182265          223234
3         50       3  ...          27457           24686
4         50       3  ...          22915           22394
...      ...     ...  ...            ...             ...
3188      50       4  ...          43806           42343
3189      50       4  ...          21294           23464
3190      50       4  ...          21118           20226
3191      50       4  ...           8533            7805
3192      50       4  ...           7208            6927

[3193 rows x 9 columns]

In [46]:
population["FIPS"] = population["STATE"]+population["COUNTY"] #combining the strings to make the fip value 
population["FIPS"] = population["FIPS"].astype(float)

In [47]:
fips = [x for x in np.unique(travel['census_fips_code']) if ~np.isnan(x)] #get the unique fips and get rid of nans

In [48]:
len(fips)

2832

In [49]:
fips2 = [x for x in np.unique(COVID['FIPS']) if ~np.isnan(x)]

In [50]:
len(fips2) #wtf...

3251

In [51]:
fips3 = [x for x in np.unique(population['FIPS'])]

In [52]:
len(fips3)

3193

So which one is true...  I think I will use the smallest one.  That way I don't have counties missing large chunks of data.

In [75]:
COVID[COVID['FIPS']==1001]

        UID iso2 iso3  code3  ...  6/21/20 6/22/20 6/23/20 6/24/20
5  84001001   US  USA    840  ...      428     436     447     463

[1 rows x 166 columns]

In [30]:
travel[travel['census_fips_code']==1001]

    country_region_code  ... residential_percent_change_from_baseline
242                  US  ...                                      NaN
243                  US  ...                                      NaN
244                  US  ...                                      5.0
245                  US  ...                                      0.0
246                  US  ...                                      0.0
..                  ...  ...                                      ...
358                  US  ...                                      9.0
359                  US  ...                                      7.0
360                  US  ...                                      8.0
361                  US  ...                                      NaN
362                  US  ...                                      NaN

[121 rows x 13 columns]

In [35]:
population[population['FIPS']==1001]

   SUMLEV  REGION  DIVISION  ... CENSUS2010POP POPESTIMATE2019    FIPS
1      50       3         6  ...         54571           55869  1001.0

[1 rows x 10 columns]

In [36]:
days = COVID.columns[11:]

In [54]:
travel[travel['date']==days[0]]["workplaces_percent_change_from_baseline"]

Series([], Name: workplaces_percent_change_from_baseline, dtype: float64)

In [93]:
df = pa.DataFrame(columns=['FIPS','County','State','Population','Date','COVID Cases','Workplace Travel'])

In [124]:
i = 0 #initialize

for fip in fips:
  COVIDfip = COVID[COVID["FIPS"]==fip]
  if COVIDfip.size != 0: #make sure it finds that county 
    travelfip = travel[travel['census_fips_code']==fip]
    populationfip = population[population['FIPS']==fip]
    countydata = []
    countydata.append(fip)
    countydata.append(COVIDfip.iloc[0,5]) #county
    countydata.append(COVIDfip.iloc[0,6]) #state value
    countydata.append(populationfip.iloc[0,-2]) #county population estimate 2019
    for day in days: #days are in m/d/yy
      datedata = []
      for item in countydata: #having assignment issues just iterate through values
        datedata.append(item)
      datedata.append(day)
      datedata.append(COVIDfip[day].values[0])
      travelfipday = travelfip[travelfip['date']==day+'20'] #here they are m/d/2020
      if travelfipday.size == 0:
        datedata.append('Nan')
      else:
        datedata.append(travelfipday['workplaces_percent_change_from_baseline'].values[0]) #.values[0] removes the index and column name
      df.loc[i]=datedata
      i+=1 #increment the counter

KeyboardInterrupt: ignored

In [125]:
df.to_csv("Combined.csv")

In [126]:
df

           FIPS     County    State  ...     Date COVID Cases Workplace Travel
0        1001.0    Autauga  Alabama  ...  1/22/20           0              Nan
1        1001.0    Autauga  Alabama  ...  1/23/20           0              Nan
2        1001.0    Autauga  Alabama  ...  1/24/20           0              Nan
3        1001.0    Autauga  Alabama  ...  1/25/20           0              Nan
4        1001.0    Autauga  Alabama  ...  1/26/20           0              Nan
...         ...        ...      ...  ...      ...         ...              ...
378887  48425.0  Somervell    Texas  ...  3/29/20           0              NaN
378888  48425.0  Somervell    Texas  ...  3/30/20           0              -37
378889  48425.0  Somervell    Texas  ...  3/31/20           0              -32
378890  48425.0  Somervell    Texas  ...   4/1/20           0              -32
378891  48425.0  Somervell    Texas  ...   4/2/20           0              -31

[378892 rows x 7 columns]