# Regression and Correlation

I am wonding if I can show that travel activity in a county is a leading indicator in COVID cases.  
I would like to try and create a correlation between the number of covid cases on each day and the travel as reported by google.  I'll have to iterate over several days prior.  My hypothesis is increased travel 14 days ahead should correlate to a spike in COVID cases.

### Data Wrangling

First I'll import my data sets and get them organized.

In [15]:
import pandas as pd
import numpy as np


COVID = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv',
                   dtype={"UID": str,"code3": str})
travel = pd.read_csv('https://raw.githubusercontent.com/nurfnick/COVID_Travel/master/google_mobility_US_only.csv')

In [16]:
COVID

           UID iso2 iso3 code3  ...  6/15/20 6/16/20 6/17/20 6/18/20
0           16   AS  ASM    16  ...        0       0       0       0
1          316   GU  GUM   316  ...      185     186     188     192
2          580   MP  MNP   580  ...       30      30      30      30
3          630   PR  PRI   630  ...     5890    5951    6003    6111
4          850   VI  VIR   850  ...       72      72      73      73
...        ...  ...  ...   ...  ...      ...     ...     ...     ...
3256  84070016   US  USA   840  ...       77      79      81      81
3257  84070017   US  USA   840  ...       29      29      29      30
3258  84070018   US  USA   840  ...      827     855     889     919
3259  84070019   US  USA   840  ...       30      31      33      33
3260  84070020   US  USA   840  ...      511     539     555     588

[3261 rows x 160 columns]

In [3]:
travel[200:220]

    country_region_code  ... residential_percent_change_from_baseline
200                  US  ...                                     11.0
201                  US  ...                                     12.0
202                  US  ...                                     12.0
203                  US  ...                                     12.0
204                  US  ...                                     15.0
205                  US  ...                                      5.0
206                  US  ...                                      4.0
207                  US  ...                                     10.0
208                  US  ...                                     11.0
209                  US  ...                                     10.0
210                  US  ...                                     11.0
211                  US  ...                                     11.0
212                  US  ...                                      4.0
213                  US  ...                                      6.0
214                  US  ...                                     10.0
215                  US  ...                                     10.0
216                  US  ...                                      9.0
217                  US  ...                                     10.0
218                  US  ...                                     11.0
219                  US  ...                                      4.0

[20 rows x 13 columns]

In [17]:
fips = [x for x in np.unique(travel['census_fips_code']) if ~np.isnan(x)] #get the unique fips and get rid of nans

COVID = COVID[COVID['FIPS'].isin(fips)] #remove all the extra statewide crap
travel = travel[travel['census_fips_code'].isin(fips)]

In [25]:
dates = np.unique(travel['date']) #setting the list of dates
master=[]
for date in dates:
    datelist=[]
    for fip in fips:
      df = travel[ (travel['date']== date) & (travel['census_fips_code']==fip)]
      if df.empty:
        datelist.append(float('nan'))
      else:
        datelist.append(df.iloc[0]['workplaces_percent_change_from_baseline'])
    master.append(datelist)
    #COVID.loc[:,'Travel {}'.format(date)]=datelist


#too slow!

KeyboardInterrupt: ignored

In [28]:
len(master[0])

2832